<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/signin.css}" rel="stylesheet">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>

<body class="text-center">
	<header th:insert="@{/fragments/commonHead.html}"></header>
<input type="text" id="id" th:value="${employee.id}">
	<div class="container">
		<div class="table-responsive">
			<script
				src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
				<br>
				<br>
				<h2>개인정보 수정</h2>
				<br>
			<form class="form">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="col-2">카테고리</th>
							<th class="col-6">기존 값</th>
							<th class="col-5">수정 값</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>전화번호</th>
							<td th:text="${employee.mobile}"></td>
							<td>
								<input type="text" class="form-control"
								id="mobile" name="mobile" placeholder="mobile" th:value="${employee.mobile}">
								<div class="" id="mobileCheck"></div>	
							</td>
								
						</tr>
						<tr>
							<th>이메일</th>
							<td th:text="${employee.email}"></td>
							<td>
								<input type="email" class="form-control"
								id="email" name="email" placeholder="email" th:value="${employee.email}">
								<div class="" id="emailCheck"></div>	
							</td>
						</tr>
						<tr>
							<th>우편번호</th>
							<td th:text="${employee.postCode}"></td>
							<td>
								<input type="button" onclick="Postcode()" value="주소 검색"><br>
								<div class="" id="addressCheck"></div>
							</td>
						</tr>
						<tr>
							<th>주소</th>
							<td th:text="${employee.address}"></td>
							<td>
								<div class="form-floating">
									<input type="text" class="form-control" id="postcode"
										name="postcode" placeholder="postcode" th:value="${employee.postCode}" required> <label
										for="postcode">우편번호</label>
								</div>
								<br />
								<div class="form-floating">
									<input type="text" class="form-control" id="address" name="address"
										placeholder="address" th:value="${employee.address}" required> <label for="address">주소</label>
								</div>
								<br />
								<div class="form-floating">
									<input type="text" class="form-control" id="detailAddress"
										name="detailAddress" placeholder="detailAddress" th:value="${employee.detailAddress}"> <label
										for="detailAddress">상세주소</label>
								</div>
								<br />
								<div class="form-floating">
									<input type="text" class="form-control" id="extraAddress"
										name="extraAddress" placeholder="extraAddress" th:value="${employee.extraAddress}"> <label
										for="extraAddress">참고항목(동/읍/면/리)</label>
								</div>
							</td>
						</tr>
						<tr>
							<th>비밀번호</th>
							<td></td>
							<td>
								<input type="password" class="form-control"
								id="Password" name="password" placeholder="Password">
								<div class="" id="passwordCheck"></div>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
	<div>
		<button id="btn-update" class="w-7 btn btn-lg btn-primary">수정</button>
	</div>

	<script
			src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script src="/js/daumAddressApi.js"></script>
	<script src="/js/userajax.js"></script>

	<!-- Optional JavaScript; choose one of the two! -->

	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
</body>
</html>